qcodes==0.4.0
adaptive==0.8.1
cma==2.7.0
h5py==2.9.0
hsluv==0.0.2
IPython==7.6.1
ipywidgets==7.5.0
lmfit==0.9.13
matplotlib==2.2.4
pandas==0.24.2
PyQt5==5.13.0
pyqtgraph==0.10.0
pygsti==0.9.6
pyvisa==1.9.1
numpy==1.13.3
Cython==0.29.12
scipy==1.2.2
spirack==0.1.10
autodepgraph==0.3.3
networkx==2.3
scikit-learn==0.21.2
qutechopenql==0.8.0
zhinst==19.5.64471
plotly==3.7.1