qcodes>=0.1.0
adaptive
cma
h5py>=2.6
hsluv
IPython>=4.0
ipywidgets>=4.1
lmfit>=0.9.5
matplotlib<2.3
pandas
PyQt5
pyqtgraph
pygsti==0.9.6
pyvisa>=1.8
numpy<1.14
Cython
scipy==1.2.2
spirack
autodepgraph==0.3.3
networkx
scikit-learn
qutechopenql
zhinst
plotly<3.8