qcodes
adaptive
cma
scikit-optimize>=0.5.2
h5py>=2.6
hsluv
IPython>=4.0
ipywidgets>=4.1
lmfit>=0.9.5
matplotlib
pandas
PyQt5
pyqtgraph
pygsti==0.9.6
pyvisa>=1.8
numpy
Cython
scipy
spirack
autodepgraph
networkx
scikit-learn
qutechopenql
zhinst
plotly<3.8