[run]
omit =
    __init__.py
    */__init__.py
    # not present anymore: test.py
    tests/*
    # we have some tests now, let's stimulate people to expand: instrument_drivers/physical_instruments/*
    analysis/*
    # not present anymore: scripts/*
    # not present anymore: utils/reload_code.py
    version.py

